html {
    background-color: #d7ddbb;
    padding-left: 3em;
    padding-right: 3em;
}

h1, h2, h3 {
    font-family: 'the-seasons', serif;
}

p {
    font-family: "Arapey", serif;
    font-size: larger;
}

.header {
    position: absolute;
    font-size: larger;
    color: #60484c ;
}

a {
    color: #60484c;
    text-decoration: none;
    padding: .5em;
}

a:hover {
    background-color: #576048;
    color: #d1ddbb;
    animation: fadein ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 1;
    }
  }

.current {
    color: #88726f
}

.pageheader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 40;
    margin: 3em 1em 2.5em 26.7em;
}

.underheaders {
    padding-top: 11em;
}

#leaf {
    position: absolute;
    padding-right: 7em;
}

.rightalign {
    text-align: end;
    
    display: flex;
    justify-content: end;
    padding-left: 16em;
}

.rightheader {
    text-align: end;
    font-size: x-large;
    display: flex;
    justify-content: end;
    padding-top: 1.5em;
}

.photos {
    position: absolute;
    margin-top: 16em;
}

.photosright {
    position: absolute;
    margin-left: 59em;
}

.imagefooter {
    position: absolute;
    margin-top: 35em;
    margin-left: 3.3em;
    font-size: medium;
}
