* {
    position:relative;
    z-index: 5;
}

html {
    background-color: #cbd3aa;
    padding-left: 3em;
    padding-right: 3em;
}

h1, h2, h3 {
    font-family: 'the-seasons', serif;
    color: #60484c;
}

h3 {
    font-size: x-large;
}

p {
    font-family: "Arapey", serif;
    font-size: larger;
    color: #60484c;
    position: relative;

}

.header {
    position: absolute;
    font-size: larger;
    color: #60484c ;
}

a {
    color: #60484c;
    text-decoration: none;
    padding: .5em;
}

a:hover {
    background-color: #576048;
    color: #c6cbaf;
    animation: fadein ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 1;
    }
}

#overlay {
    position:fixed;
      width: 100%; 
      height: 100%; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(/images/cardboard-texture.jpg);
      background-size: cover;
      animation: fadeinbg ease 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      opacity: 0.3;
        filter:brightness(50%);
        z-index: 0;
    }

.current {
    color: #88726f
}

.pageheader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 40;
    margin: 3em 0em 2.5em 0em;
    right: 1px;
}

.underheaders {
    padding-top: 14em;
    
}

#leaf {
    position: absolute;
    right: 7em;
    filter: brightness(60%);
    padding-top: 50px;
}

.rightalign {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-left: 19em;
}

.rightheader {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5em;
}

figure {
    font-family: "Arapey", serif;
    color: #474f3b;
    margin: 0;
    width: 15%;
    position: absolute;
    margin-top: 17em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fig {
    font-family: "Arapey", serif;
    color: #474f3b;
    margin-top: 0;
    width: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fig2 {
    margin-top: 0;
    width: 100%;
    right: 1px;
    bottom: 180px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomhalf {
    margin-top: 5em;
    width: 75%;
}


