html {
    background-image: linear-gradient(#b8a399, #402d25);
    
    font-family: 'the-seasons', serif;
    
    
}

#intro {
    position: relative;
    z-index: 2;
    margin: 7em 1em 2em 5em;
    width: 90%;
    float: left;
}

img {
    float: right;
    width: 34%;
    display: flex;
    align-items: start;
    animation: fadeinall ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

p {
    font-family: 'Arapey', serif;
    text-align: justify;
    width: 50%;
    font-size: 35;
    color: #d6ccbf;
    animation: fadeinall ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.h1 {
    font-size: 60;
    width: 50%;
    color: #372f2c;
    text-align: justify;
    animation: fadeinall ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.starterpage {
    position: relative;
    z-index: 2;
    
    
  }

.hidden{
    display:none;
    
}

.nextBtn {
    display: flex;
    justify-content: center;
    animation: fadeinall ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.next {
    background-color: #402d2500;
    font-family: "the-seasons", serif;
    font-size: 40;
    border: none;
    color: #d2c3b1;
    margin-top: 6em;
    padding: 0.5em;
}

.next:hover {
    background-color: rgb(156, 159, 120);

}

.mainlinks, .mainlinks a {
    color:rgb(156, 159, 120);
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 40;
    text-decoration: none;
    animation: fadeinall ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.mainlinks a:hover {
    background-color:#3b2b25;
    padding: .5em;
    animation: fadein ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
      opacity: 50%;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeinall {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeinbg {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 0.2;
    }
  }

#overlay {
position:fixed;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/bganim.gif);
  background-size: cover;
  animation: fadeinbg ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0.2;

}

.name {
    text-align: center;
    color:#392c28;
    margin-top: 5em;
    font-size: 80;
    animation: fadeinall ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
    
}