@import url(https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap);

html {
    background-color: #c3b4a9;
    padding-left: 3em;
    padding-right: 3em;
}

h1,
h2,
h3 {
    font-family: 'the-seasons', serif;
    color: #576048;
}

h3 {
    font-size: x-large;
}


p {
    font-family: "Arapey", serif;
    font-size: larger;
    color: #576048;

}

a {
    color: #576048;
    text-decoration: none;
    padding: .5em;
}


a:hover {
    background-color: #576048;
    color: #c6cbaf;
    animation: fadein ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 50%;
    }

    100% {
        opacity: 1;
    }
}


.current {
    color: #717767
}


#swirl {
    filter: brightness(60%);
    width: 40%;
    margin-right: 2em;
}

.digital {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content1 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3em;
}

footer {
    box-sizing: border-box;
    background-color: #605248;
    width: 100%;
    padding: 1em;
    padding-bottom: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4em;
}

footer h3 {
    font-size: xx-large;
    color: #acb09a;
    padding-right: 2em;
    padding-left: 1em;
}

footer h4 a {
    color: #aa9593;
    display: flex;
    font-family: 'the-seasons', serif;
    font-size: x-large;
}

.footer1 {
    display: flex; 
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    font-size: larger;
    color: #60484c;
}

.leftnav {
    margin-top: 2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.rightnav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

h2 {
    margin: 0;
}

.iframe {
    width: 100%;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3em 0 3em 0;
}